{# Horizontal Menu #}
<section class="nav">
    <div class="navbar">
        <div class="item1">
            <a href="{{ siteUrl }}mashup">johanna ulfsak</a>
        </div>
        <div class="item2">
            <a href="{{ siteUrl }}#about">about</a>
        </div>
        <div class="item3 index-subnav-toggle">
            <a class="">index</a>
        </div>
    </div>
</section>


{# Index Submenu #}
<section id="all-projects" class="index">
<div class="projects">

    {% for link in indexMenu.navigationLinks.all() %}
    <div class="project">
        <div class=project-items>
            <div class="year">
                {% if link.navigationExtra %}
                <p>{{ link.navigationExtra }}</p>
                {% endif %}
            </div>
            <div class="title">
                {% set destination = link.navigationDestination.one() %}
                <a href="{{ destination.url }}">
                    <p class="letters">{{ link.navigationTitle }}</p>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
</section>
